<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收藏网址</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.8/lib/theme-chalk/index.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.4.8/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>

    <script src="/js/commonElement.js"></script><!-- 自定义的复用组件 -->

</head>
<body>

    <div id="collection">
        凄凄切切
    </div>


</body>
</html>


<script>

    var collectionVue=new Vue({
        el:'#collection',
        components:{
//            urlTable,
//            folderAddDialog,
//            folderUpdateDialog,
        },
        watch: {
        },
        methods: {
        },
        data: {
        },
        mounted(){//数据初始化
//            var this_=this;
//            util.ajax("/userSettings/query",{},function (data) {//初始化自定义文件夹的id
//                if(data!=null){
//                    this_.nodeId=data.defaultFolderId;
//                }
//            });
//
//            //请求文件夹数据
//            common.loadTreeData(this);
        }

    })

</script>