<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>登入页面</h1>
<h1>${msg!}</h1>

<form action="/user/save" method="post">
    userName:<input name="userName"/><br>
    password:<input name="password"/><br>
    <button type="submit">注册</button><br>
</form>


<form action="/user/login" method="post">
    userName:<input name="userName"/><br>
    password:<input name="password"/><br>
    <button type="submit">登入</button><br>
</form>

</body>
</html>