<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->


    <!--<script src="/scripts/boot.js"></script>-->
<!--</head>-->
<!--<body>-->

    <div id="addWindow" class="mini-window" title="Window" style="width:500px;height: 200px"
         showModal="true" allowResize="true" allowDrag="true">
        <div id="addform" class="form" >
            <input class="mini-hidden" name="id"/>
            <table style="width:100%;">
                <tr>
                    <td style="width:80px;">网址名称:</td>
                    <td style="width:200px;"><input style="width: 200px" name="name" id="urlName" class="mini-textbox" /></td>
                </tr>
                <tr>
                    <td style="width:80px;">网址:</td>
                    <td style="width:200px;"><input style="width: 200px" name="url" id="url" class="mini-textbox" /></td>
                </tr>
                <tr>
                    <td style="width:80px;">文件夹:</td>
                    <td style="width:200px;">
                        <input id="addURL_tree" class="mini-treeselect"
                               valueField="id" textField="name" parentField="pId"
                               valueFromSelect="false" showTreeIcon="false" expandOnLoad="0"
                        />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;padding-top:5px;padding-right:20px;" colspan="6">
                        <button id="addButton">添加</button>
                        <button id="cancelButton">取消</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

<!--</body>-->
<!--</html>-->


<script>

    //获取添加url窗口==================================================
    var addWindow = mini.get("addWindow");
//    var updateWindow = mini.get("updateWindow");

    //显示添加url窗口


    //隐藏添加窗口
//    $("#cancelButton").click(function () {
//        addWindow.hide();//添加窗口隐藏
//    })

    //添加url操作
//    $("#addButton").click(function () {
//
//        var selectedNode=addURL_tree.getSelectedNode();
//
//        var urlName=$('#urlName').find('input').val();
//        var url=$('#url').find('input').val();
//
//        if(urlName==""){
//            showTips("请输入网址名称");
//            return;
//        }
//        if(url==""){
//            showTips("请输入网址");
//            return;
//        };
//        if(selectedNode==undefined){
//            showTips("请选择文件夹");
//            return;
//        }
//
//        $.ajax({
//            url: "/url/save",
//            type:'post',
//            dataType:'json',
//            data:{name:urlName,url:url,folderId:selectedNode.id},
//            success:function (data) {
//                if(data.code==200){
//
//                    showTips("添加成功!");
//                }else if(data.code==400){
//                    //显示错误信息
//                    showTips("添加失败!");
//                }
//                addWindow.hide();//添加窗口隐藏
//            }
//        });
//    })

</script>